:root{

    --theme-color: #272a6c;

}

/* =====================================================
   ADMIN LAYOUT
===================================================== */

.admin-layout {
  display: flex;
  min-height: 100vh;
}

.main-area {
  flex: 1;
  margin-left: 263px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.content {
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .main-area {
    margin-left: 0;
  }

}